<a href="https://colab.research.google.com/github/Merlyne-Margarte/PythonInternshipProjects/blob/main/Data_Analytics(HR)_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MAJOR PROJECT - HR DATA ANALYTICS

In [ ]:
import pandas as pd
df=pd.read_csv('/content/HR analytics.xlsx - Sheet1.csv')
df

,Name,Gender,Department,Salary,Loc,Rating
0,Ches Bonnell,Male,Sales,"$88,050",Bellevue,Very Good
1,Garwin Peasegood,Female,Engineering,"$68,220",Bellevue,Good
2,Sidoney Yitzhok,Female,NaN,"$118,440",Wellington,Not Rated
3,Saunders Blumson,Male,Legal,"$56,370",Los Angeles,Very Good
4,Gardy Grigorey,Female,Support,"$107,090",Los Angeles,Poor
...,...,...,...,...,...,...
1010,Shaylyn Ransbury,Female,Support,"$100,370",Wellington,Average
1011,Christoph Stretton,Female,Business Development,"$90,240",Wellington,Poor
1012,Jordain Cyster,Female,Engineering,"$75,870",Los Angeles,Average
1013,Malory Biles,Female,Training,"$58,740",Los Angeles,Not Rated
1014,Adey Ryal,Female,Legal,"$32,500",Bellevue,Average

**No**. **of** **Males**/**Females** **in** **the** **entire** **organisation**

In [ ]:
df.Gender.value_counts()

Male      544
Female    471
Name: Gender, dtype: int64

**No**. **of** **Males**/ **Females** **in** **each** **department** **or** **for** **each**
**location**?

1)In each department

In [ ]:
pd.crosstab(df.Gender, df.Department)

Department,Accounting,Business Development,Engineering,Human Resources,Legal,Marketing,Product Management,Research and Development,Sales,Services,Support,Training
Gender,,,,,,,,,,,,
Female,30,42,38,44,36,33,42,39,38,42,37,38
Male,42,42,44,42,56,36,50,39,45,42,47,43

2) In each location

In [ ]:
pd.crosstab(df.Gender,df.Loc)

Loc     Bellevue  Los Angeles  Wellington
Gender
Female       127          176         168
Male         143          209         192

**Which department has the average Pay highest?**

In [ ]:
#converting values of Salary column from 'string' to 'float' type
df['Salary']=df['Salary'].str.replace(',','').str.replace('$','')
df['Salary']=df['Salary'].astype(float)
#Calculating average pay for all departments
df.groupby('Department')['Salary'].mean().round(0)

<ipython-input-28-4b2001824ddf>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Salary']=df['Salary'].str.replace(',','').str.replace('$','')

Department
Accounting                  71056.0
Business Development        74336.0
Engineering                 70380.0
Human Resources             67638.0
Legal                       68370.0
Marketing                   72324.0
Product Management          70814.0
Research and Development    64935.0
Sales                       69551.0
Services                    73932.0
Support                     72350.0
Training                    72282.0
Name: Salary, dtype: float64

In [ ]:
df.groupby('Department')['Salary'].mean().round(0).idxmax()

'Business Development'

**ANS:**  Buisness Development has the highest average pay amongst all departments

**Which location has the average Pay highest?**

In [ ]:
df.groupby('Loc')['Salary'].mean().round(0)

Loc
Bellevue       72202.0
Los Angeles    71050.0
Wellington     69189.0
Name: Salary, dtype: float64

In [ ]:
df.groupby('Loc')['Salary'].mean().round(0).idxmax()

'Bellevue'

**ANS:** Bellevue location has the highest average pay amongst all other locations

**What percentage of employees received good & very good rating? What about
poor & very poor rating? and average rating?**

In [ ]:
#storing the count of each rating in a variable
s=df.Rating.value_counts()
s

Average      461
Good         191
Poor         134
Very Good     93
Not Rated     79
Very Poor     57
Name: Rating, dtype: int64

In [ ]:
import numpy as np
perc=np.array(s)#converting series to numpy array
sm=perc.sum()#calculating the sum
l=[]
#Calculating percentage of employees based on rating
for i in range(0,6):
  m=(perc[i]/sm)*100
  l.append(str(m)+'%')
#Converting a dictionary to series
d=pd.Series(l,index=['Average','Good','Poor','Very Good','Not Rated','Very Poor'])
print(d)

Average       45.41871921182266%
Good         18.817733990147783%
Poor         13.201970443349753%
Very Good      9.16256157635468%
Not Rated     7.783251231527094%
Very Poor     5.615763546798029%
dtype: object

**ANS:** Hence, the above output specifies the percentage of employees based on each rating

**Compute gender pay gap for each department. Interpret**

In [ ]:
##Calclating average pay for male and female in each department
gp=df.groupby(['Department','Gender'])['Salary'].mean().round(0)
gp

Department                Gender
Accounting                Female    68076.0
                          Male      73184.0
Business Development      Female    72851.0
                          Male      75821.0
Engineering               Female    75422.0
                          Male      66026.0
Human Resources           Female    62039.0
                          Male      73502.0
Legal                     Female    64701.0
                          Male      70728.0
Marketing                 Female    74313.0
                          Male      70501.0
Product Management        Female    69088.0
                          Male      72264.0
Research and Development  Female    64896.0
                          Male      64975.0
Sales                     Female    66701.0
                          Male      71958.0
Services                  Female    73075.0
                          Male      74788.0
Support                   Female    68136.0
                          Male      75666.0
Training                  Female    73025.0
                          Male      71625.0
Name: Salary, dtype: float64

In [ ]:
##creating a sorted array of departments fo further coding
dt=np.array(df.Department.dropna().astype(str).unique())
dt.sort()
dt

array(['Accounting', 'Business Development', 'Engineering',
       'Human Resources', 'Legal', 'Marketing', 'Product Management',
       'Research and Development', 'Sales', 'Services', 'Support',
       'Training'], dtype=object)

In [ ]:
##Computing gender pay gap for each department
gpg=[]
for i in dt:
  c=np.array(gp[i])
  gpg.append(abs(c[1]-c[0]))
print(pd.Series(gpg,dt))

Accounting                   5108.0
Business Development         2970.0
Engineering                  9396.0
Human Resources             11463.0
Legal                        6027.0
Marketing                    3812.0
Product Management           3176.0
Research and Development       79.0
Sales                        5257.0
Services                     1713.0
Support                      7530.0
Training                     1400.0
dtype: float64

**ANS:** Thus, the above output shows the gender pay gap in each department

**Compute gender pay gap for each location. Interpret**

In [ ]:
##Calclating average pay for male and female in each location
gp2=df.groupby(['Loc','Gender'])['Salary'].mean().round(0)
gp2

Loc          Gender
Bellevue     Female    69580.0
             Male      74530.0
Los Angeles  Female    70056.0
             Male      71888.0
Wellington   Female    68034.0
             Male      70199.0
Name: Salary, dtype: float64

In [ ]:
##creating a sorted array of locaions fo further coding
lc=np.array(df.Loc.dropna().astype(str).unique())
lc.sort()
lc

array(['Bellevue', 'Los Angeles', 'Wellington'], dtype=object)

In [ ]:
##Computing gender pay gap for each locaion
gpg2=[]
for i in lc:
  cl=np.array(gp2[i])
  gpg2.append(abs(cl[1]-cl[0]))
print(pd.Series(gpg2,lc))

Bellevue       4950.0
Los Angeles    1832.0
Wellington     2165.0
dtype: float64

**ANS:**Thus, the above output shows the gender pay gap for each location